
.banner{
    background-color: coral;
    height: 200px;
}

.content{
    
}

label{
    font-weight: bold;
}
span{
    color: red;
}

.control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px;
}